<section class="login">
  <div class="container">
    <h2>Login</h2>
    <form ng-submit="login.login()">
      <label for="email">Enter your email</label>
      <input class="u-full-width" type="email" name="email" ng-model="login.user.email" autocomplete="false" autocomplete="off">
      <label for="password">Enter your password</label>
      <input class="u-full-width" type="password" name="password" ng-model="login.user.password" autocomplete="false" autocomplete="off">
      <input class="u-full-width button-primary glow" type="submit" value="dream with us.">
    </form>
  </div>
</section>
