<form class="register" ng-submit="register.register()">
  <div class="name">username:
    <input type="text" name="username" ng-model="register.user.username">
  </div>
  <div class="name">first name:
    <input type="text" name="firstName" ng-model="register.user.firstName">
  </div>
  <div class="name">last name:
    <input type="text" name="lastName" ng-model="register.user.lastName">
  </div>
  <div class="name">image url:
    <input type="text" name="image" ng-model="register.user.image">
  </div>
  <div class="name">email:
    <input type="email" name="email" ng-model="register.user.email" >
  </div>
  <div class="name">password:
    <input type="password" name="password" ng-model="register.user.password" >
  </div>
  <div class="name">password confirmation:
    <input type="password" name="passwordConfirmation" ng-model="register.user.passwordConfirmation" >
  </div> <br />
  <input class="submit-register" type="submit" value="Submit" />
</form>
