.indexTitle{
  text-align: center;
   display: block;
   margin-right: 65px;
}

li{
  list-style: none;
  text-align: center;
}

.newDream{
    padding: 10px;
    overflow: hidden;
    margin: 20px;
    border-style: solid;
    border-width: 5px;
    border-image: url("http://25.media.tumblr.com/tumblr_mazsiknhRw1r9uwqao1_500.gif") 27;
    display: inline-block;
    width: 350px;
    text-align: center;
    margin-left: 428px;
    font-size: 20px;

}

.dreamLinks{
  padding: 10px;
  overflow: hidden;
  margin: 20px;
  border-style: solid;
  border-width: 5px;
  border-image: url("http://25.media.tumblr.com/tumblr_mazsiknhRw1r9uwqao1_500.gif") 27;
  display: inline-block;
  width: 350px;
  font-size: 20px;



}

.dreamDate{
  text-align: center;

}

.seeDream{
text-align: center;
width: 400px;

}
