.indexTitle{
  text-align: center;
   display: block;
   margin-right: 65px;
}

li{
  list-style: none;
  text-align: center;
  border-radius: 10px;

}

.index-body{
  text-align: center;
  // margin: 50px;
}

.newDream{
    padding: 10px;
    overflow: hidden;
    margin: 20px;
    border-style: solid;;
    border-width: 5px;
    display: inline-block;
    width: 350px;
    text-align: center;


}

.dreamLinks{
  padding: 10px;
  overflow: hidden;
  margin: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: value;
  display: inline-block;
  width: 350px;


}

.dreamDate{
  text-align: center;
  color: #909899;

}

.seeDream{
text-align: center;
width: 400px;
color: #909899;

}

.newDream
  a{
    color: #909899;
  }
