h1#homeLogo.ng-scope {
  font-family: 'Poppins', sans-serif !important;
  font-weight: bold !important;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  margin-top: -50px !important;
  margin-left: -100px !important;
}
