.login {
  margin: 0 auto;
  margin-top: 100px;
  width: 30%;
  font-size: 50px;
  // color: #909899;
  // font-weight: lighter;
}

.name {
  display: inline-block;
  // color: #909899;
}

// input {
//   font-size: 30px !important;
//   display: inline-block;
//   background: none !important;
//   padding: 7px !important;
//   color: #909899 !important;
//   height: 40px !important;
//   border: none !important;
// }

// .submit-dream {
//   font-size: 40px !important;
//   height: 50px !important;
//   margin-left: 250px;
// }
