@import url('https://fonts.googleapis.com/css?family=News+Cycle');

body {
  height: 100%;
  font-weight: lighter;
  background:#000000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:-2;
}

h1, h2, h3, h4, h5, h6, p, li, a {

  font-family: 'News Cycle', sans-serif; //can not do lighter with this font

}

h1 {
  color: #FFFFFF;
  font-size: 60px;
}

h2, h3, h4, h5, h6, p, li {
  color: #C8D3D5;
}

.top-bar {
  background-color: rgba(0, 0, 0, 0.5);
}

.top-bar-section ul li > a {
  font-family: 'News Cycle', sans-serif;
  background-color: transparent;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:calc(100vh - 45px);
  display:block;
  z-index: -1;
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  animation:move-twink-back 400s linear infinite;
}


.fitdata {
  display: inline-block;
  height: 66px;
  width: 200px;
  margin: 25px;

}

p.fit-bit {
  padding-top: 6px;
  margin: 0;
  width: 200px;
  text-align: center;
  font-size: 30px;
}

input.glow {
  // font-family: 'News Cycle', sans-serif;
  border: 1px solid #FCFAFA;
  background-color: transparent;
  padding-bottom: 60px !important;
  margin-bottom: 20px;
}

.glow:hover {
  // -webkit-transition: border-radius 800ms, box-shadow 1400ms, opacity 1200ms;
  // -moz-transition: border-radius 800ms, box-shadow 1400ms, opacity 1200ms;
  // -ms-transition: border-radius 800ms, box-shadow 1400ms, opacity 1200ms;
  // -o-transition: border-radius 800ms, box-shadow 1400ms, opacity 1200ms;
  transition: border-radius 800ms, box-shadow 1400ms, opacity 1200ms;
  box-shadow: 0px 0px 32px 12px rgba(255, 255, 255, 0.20);
  margin-bottom: 50px;
}

.glow:hover {
  transition: border-radius 800ms, box-shadow 1400ms, opacity 1200ms;
  box-shadow: 0px 0px 30px 15px rgba(255, 255, 255, 0.25);
}
