.register {
  margin: 0 auto;
  margin-top: 50px;
  width: 50%;
  font-size: 40px;
  // color: #909899;
  // font-weight: lighter;
}

.name {
  // color: #909899;
}

input {
  font-size: 30px !important;
  display: inline-block;
  background: none !important;
  padding: 7px !important;
  // color: #909899 !important;
  height: 40px !important;
  border: none !important;
}

.submit-register {
  font-size: 40px;
  margin-left: 400px;
}
