<!DOCTYPE html>
<html ng-app="napApp">
<head>
  <meta charset="utf-8">
  <title>Nap App</title>
  <base href="/" />
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <header>
    <nav>
      <ul>
        <li><a ui-sref="home"><h1>nApp</h1></a></li>
        <li class="active" ng-hide="main.user"><a ui-sref="register">Register</a></li>
        <li class="active" ng-hide="main.user"><a ui-sref="login">Login</a></li>
        <li ng-if="main.user" class="menu" ng-click="main.navOpen = !main.navOpen" ng-class="{'clicked': main.navOpen}"><i class="fa fa-bars" aria-hidden="true"></i></li>
      </ul>
    </nav>
    <div class="sidebar" ng-class="{'show-sidebar': main.navOpen, 'hide-sidebar': !main.navOpen}" ng-if="main.user">
      <ul class="centered">
        <li>
          <a ui-sref="dreamsIndex">All Dreams</a>
        </li>
        <li>
          <a ui-sref="dreamsNew">Add Dream</a>
        </li>
        <li>
          <a ui-sref="moodboard">Moodboard</a>
        </li>
        <li>
          <a ng-click="main.logout()">Logout</a>
        </li>
      </ul>
    </div>
  </header>

  <main ui-view></main>

  <!-- inject:js -->
  <!-- endinject -->
</body>
</html>
