$black:         #000000;
$black-purple:  #1A1423;
$eerie-black:   #121523;
$dark-gunmetal: #151D2B;
$yankees-blue:  #172A3A;
$slate-grey:    #7B8C9D;
$white:         #ffffff;

$body-font:     'Poppins', sans-serif !important;
