@import "partials/main"
// // Import all of your scss files here
// body {
//   // background: #D3959B; /* fallback for old browsers */
//   // background: -webkit-linear-gradient(to left, #D3959B , #BFE6BA); /* Chrome 10-25, Safari 5.1-6 */
//   // background: linear-gradient(to left, #D3959B , #BFE6BA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//   // background-image: -webkit-linear-gradient(to left, #D3959B , #BFE6BA);
//   // background-image: linear-gradient(to left, #D3959B , #BFE6BA);
//
//   background-image: url('/images/bg.jpg');
// 	background-size: cover;
// 	background-position: 50% 0;
// 	height: 100%;
// 	text-align: center;
// }

// body {
//
// }
