    <h1 class="indexTitle">Good Morning {{ main.user.username }}</h1>
    <!-- <a class="newDream" ui-sref="dreamsNew">Add Dream</a> -->

<!-- <ul>
  <a class="newDream" ui-sref="dreamsNew">New Dream</a>
</ul> -->
  <ul class="media-body">
    <li class="dreamColor" ui-sref="dreamsShow({id: dreams._id})">{{ dreams.value }}</li>
    <li class="newDream" ui-sref="dreamsNew"><a>New Dream</a></li>
    <li class="dreamLinks" ng-repeat="dreams in dreamsIndex.dreams">
      <a class="dreamDate" ui-sref="dreamsShow({id: dreams._id})">{{ dreams.date }}</a>
    </li>
  </ul>
