<h2 class="newDreamHeader">Date: {{ dreamsNew.entryDate }}</h2>


  <!-- <h2>Rating {{ dreamsNew.rating }}</h2> -->
  <h2 class="newDreamSubHeader">How did you sleep?</h2>

<div class="sliderDiv">
<rzslider rz-slider-model="slider.value"
          rz-slider-options="slider.options" class="mainMoodSlider"></rzslider>
        </div>


<form ng-submit="dreamsNew.dreamsCreate()">


<!-- <input type="text" class="form-control dreamInput" id="image" placeholder="What did you dream?" ng-model="dreamsNew.dream.entry"> -->

  <div class="form-group">
      <textarea class="form-control dreamInput" placeholder="What did you dream?" ng-model="dreamsNew.dream.entry">{{dreamsNew.dream.entry}}</textarea>
  </div>

  <div class="fitbitDataDiv">

  <h3 class="newHeadersInline">Total Amount of Sleep</h3>
  <p ng-model="dreamsNew.dream.totalSleep" class="newTextInline">{{dreamsNew.totalSleep}}asdg</p>
  <h3 class="newHeadersInline">Number of Sleeps</h3>
  <p ng-model="dreamsNew.dream.noSleeps" class="newTextInline">{{dreamsNew.noOfSleeps}}zsfg</p>
  <h3 class="newHeadersInline">Total Time in Bed</h3>
  <p ng-model="dreamsNew.dream.timeInBed" class="newTextInline">{{dreamsNew.timeInBed}}zsfg</p>
</div>
<br>
  <input type="submit" class="btn btn-default submissionBox" value="Add Dream">
</form>

<button type="button" ng-click="dreamsNew.authenticate('fitbit')" name="button" class="submissionBox">Get FitBit Data</button>
