<section class="dreamsNew">
  <div class="container">
    <h2>{{ dreamsNew.entryDate }}</h2>
    <!-- <h2>Rating {{ dreamsNew.rating }}</h2> -->
    <hr>

    <h2>How did you sleep?</h2>
    <rzslider rz-slider-model="slider.value"
    rz-slider-options="slider.options" class="mainMoodSlider"></rzslider>
    <hr>

    <h3>What did you dream?</h3>
    <form ng-submit="dreamsNew.dreamsCreate()">
      <textarea name="entry" class="u-full-width" ng-model="dreamsNew.dream.entry">{{dreamsNew.dream.entry}}</textarea>

      <div class="row">
        <a class="button btn-primary" ng-click="dreamsNew.authenticate('fitbit')">Get FitBit Data</a>
      </div>

      <div class="row circles" ng-if="dreamsNew.showCircles">
        <div class="four columns">
          <h4>Total time sleeping</h4>
          <div class="circle">
            <p class="number">{{dreamsNew.totalSleep}}</p>
          </div>
        </div>
        <div class="four columns">
          <h4>Times you slept</h4>
          <div class="circle">
            <p class="number">{{dreamsNew.noOfSleeps}}</p>
          </div>
        </div>
        <div class="four columns">
          <h4>Time spent in bed</h4>
          <div class="circle">
            <p class="number">{{dreamsNew.timeInBed}}</p>
          </div>
        </div>
        <hr>
      </div>

      <input type="submit" class="submissionBox glow" value="Add Dream">
    </form>
  </div>
</section>
