<section class="dreamsShow">
  <div class="container">
    <h2>{{ dreamsShow.dream.date }}</h2>
    <h4>{{ dreamsShow.dream.ratingValue }}</h4>

    <p class="entry">
      <typer start-typing="true" words="dreamsShow.dreamEntry" type-time="150" backspace-time="200" start-delay="1500" highlight-background="#000000"></typer>
    </p>

    <div class="row circles">
      <div class="four columns">
        <h4>Total time sleeping</h4>
        <div class="circle">
          <p class="number">{{dreamsShow.dream.totalSleep}}</p>
        </div>
      </div>
      <div class="four columns">
        <h4>Times you slept</h4>
        <div class="circle">
          <p class="number">{{dreamsShow.dream.noSleeps}}</p>
        </div>
      </div>
      <div class="four columns">
        <h4>Time spent in bed</h4>
        <div class="circle">
          <p class="number">{{dreamsShow.dream.timeInBed}}</p>
        </div>
      </div>
      <hr>
    </div>

    <a class="button button-primary" ng-click="dreamsShow.delete({id: dreams._id})">Delete</a>
  </div>
</section>
