<div class="dream-details">
  <h2>{{ dreamsShow.dream.date }}</h2>
  <h4>{{ dreamsShow.dream.entry }}</h4>
  <h4>Rating: {{ dreamsShow.dream.rating }}</h4>
  <p typewrite type-delay="100" blink-cursor="false" text="This is a 'typewrite' directive."></p>
  <h4>Rating: {{ dreamsShow.dream.ratingValue }} / 10</h4>
<div>
<ul class="circle-row">
  <div class="circle-stat circle-left">
    <div>Total time sleeping <br /> <div class="circle-data-number">{{ dreamsShow.dream.totalSleep }}<font size="5">  hours</font></div>
  </div>
</div>
  <div class="circle-stat circle-right">
    Number of<br />times you slept<br /><div class="circle-data-number">{{ dreamsShow.dream.noSleeps }}</div>
  </div>
  <div class="circle-stat circle-center">
    Time spent in bed <br /> <div class="circle-data-number">{{ dreamsShow.dream.timeInBed }}<font size="5">  hours</font></div>
  </div>
</ul>
<ul>
  <li>
    <a class="edit-link glow" ui-sref="dreamsEdit({id: dreams._id})">Edit</a>
    <a class="delete-link glow" ng-click="dreamsShow.delete({id: dreams._id})">Delete</a>
  </li>
</ul>
</div>
