<section class="login">
  <div class="container">
    <h2>Register</h2>
    <form class="register" ng-submit="register.register()">
      <label for="username">Username</label>
      <input class="u-full-width" type="text" name="username" ng-model="register.user.username">

      <label for="firstName">First name</label>
      <input class="u-full-width" type="text" name="firstName" ng-model="register.user.firstName">

      <label for="lastName">Last name</label>
      <input class="u-full-width" type="text" name="lastName" ng-model="register.user.lastName">

      <label for="image">Image url</label>
      <input class="u-full-width" type="text" name="image" ng-model="register.user.image">

      <label for="email">Email</label>
      <input class="u-full-width" type="email" name="email" ng-model="register.user.email" >

      <label for="password">Password</label>
      <input class="u-full-width" type="password" name="password" ng-model="register.user.password" >

      <label for="passwordConfirmation">Password confirmation</label>
      <input class="u-full-width" type="password" name="passwordConfirmation" ng-model="register.user.passwordConfirmation" >

      <input class="u-full-width glow button-primary" type="submit" value="dream with us.">
    </form>
  </div>
</section>
